/* we can use a single css file to style all the files in our wwebsite */

/* you can pick your own background colors, text colors, and fonts */

/* we can select an html element tag, in this case "body" will apply to the whole document */
body {
  background-color: #100027;
}

/* we can have rules apply to multiple elements at the same time with commas */
h1{
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

/* and we can have rules that overlap other rules, both take effect */
h1 {
  letter-spacing: 5px;
  word-spacing: 5px;
  font-size: 200%;
}


/* the hashtag in a CSS selector selects an element by id, e.g., id="content" */
#content {
  margin: 10px;
  padding: 10px;
  border: dotted 5px #907a90;
}


/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */

#links {
  font-family: 'Times New Roman', Times, serif;
  
}

/*okay, this should be the CSS for the left side of the page, it will show the links to labs. */
#westside {
  width: 300px;
  background-color: hsl(0, 0%, 0%);
  border: 1px solid #ff668a;
  height: fit-content;
  align-content: left;
}



/*the below code was taken from w3 schools, with some minor changes. I've included information about what each of these do.*/

ul{
  list-style-type: none;
  margin: 5px;
  padding: 5px;
  overflow: hidden;
  background-color: #1c0101;
}


li a {
  display: block;
  color: white;
  text-align: left;
  padding: 10px;
  text-decoration: none;
}

li a:hover {
  background-color: #640000;
}