/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
h1 {
  color: rgb(187, 76, 76)
  font-size 150%;
}

p {
    font-family: Times 'Times New Roman', Times, serif;
    text-indent: 10px;
    margin-left: 5px;
}

#content {
  background-color: #baa44f;
  width: 250px;
  min-height: 75px;
  padding: 10px;
  margin: 10px;
  border: dotted 50px #000000;
  font-size: 20px;
}

#paragraph {
  background-color: #d44abf;
  width: 100px;
  min-height: 75px;
  padding: 10px;
  margin: 10px;
  border: dotted 50px #000000;
  font-size: 20px;

}